body {
    margin: 0;
    background-image: url(./img/unloaded.png);
}
* {
    font-family: 'rainyhearts';
    font-size: 18px;
}
#top-overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
}
.full-width {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    color: black;
    text-align: center;
    font-size: 24px;
}
.palette-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.color-item {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    background-color: #ff0000;
    cursor: pointer;
}
.color-item {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    background-color: #ff0000;
    cursor: pointer;
    transition: order 0.5s ease;
}
.color-item.selected {
    transform: scale(1.5);
    z-index: 2;
}
#color-list {
    overflow: hidden;
}
#add-color {
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
#tools-window {
    background-color: #ADA9A9;
    position: absolute;
    left: 0;
    overflow-y: scroll;
    width: 161px;
    height: 432px;
}
button.tool-item {
    background-color: #C9C9C9;
    width: 72px;
    height: 72px;
    border-radius: 10px;
}
button.tool-item:hover {
    background-color: #d6d6d6;
}
button.tool-item > div {
    width: 72px;
    height: 72px;
}
.selected-tool {
    background-color: #FFFFFF !important;
}
#topright-displays > span {
    position: absolute;
    top: 0;
    right: 100;
}
#topleft-displays > span {
    position: absolute;
    top: 0;
    left: 0;
}
#topright-displays > span, #topleft-displays > span {
    background-color: rgba(0, 0, 0, 0.2);
    height: auto;
    font-size: 18px;
}
#chat {
    position: absolute;
    /* Centered */
    /* bottom: 0; */
    /* left: calc(50% - 500px / 2); */
    width: 500px;
    /* Right side */
    right: 50px;
    bottom: 0;
}
#chat-message {
    width: inherit;
}
#chat-messages {
    flex: 1;
    margin: 0;
    padding: 0;
    font-size: 16px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: scroll;
    vertical-align: bottom;
    list-style: none;  /* Remove the circle that appears when using <li> */
    max-height: 250px;
}
#chat-messages.active > li {
    background-color: initial;
}
#chat-message {
    height: 24px;
}
li.moderator {
    color: #0fe07f
}
li.admin {
    color: #e93232
}
.window-frame {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    background-color: #f0f0f0;
    position: relative;
    overflow: hidden;
}
.window-titlebar {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.window-title-label {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
}
.window-close-button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 10px;
}
html, body {
    overflow: hidden;
}

.discord {
    color: #1d74ad;
}
.rank-1 {
    color: #4242e2;
}
.rank-2 {
    color: #82ce72;
}
.rank-3 {
    color: #c54242;
}